*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height:12vh ;
    width:100% ;
    background-color: white;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

/* fixer header */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

.header-left{
    height: 50% ;
    width:60% ;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
}
.header-left-left{
    height:100% ;
    width:14% ;
    padding: 5px;
}
.header-left-left img{
    height: 100%;
    width: 100%;
}

.header-left-right{
    height:100% ;
    width:86% ;
    /* background-color:saddlebrown; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}
.buttons{
    height: 100%;
    width: auto;
    /* background-color:white; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-left-right a{
    text-decoration: none;
    color: inherit;
    /* font-weight: bold; */
}
.header-left-right .buttons:hover{
    color: #108a00;
    cursor: pointer;
}
.header-right{
    height:55% ;
    width:16% ;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
}

.header-right button{
    height: 100%;
    width: 50%;
    background-color: white;
    border: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}
.header-right button:nth-child(2){
    color: white;
    background-color: green;
}
.header-right button:nth-child(2):hover{
    background-color: rgb(2, 171, 2);
}

/* main page */

main{
    height:120vh ;
    width:100% ;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-center{
    height:80% ;
    width:90% ;
    /* background-color: red; */
    border-radius: 23px;
    padding: 60px;
    background: url(../images/image1) no-repeat center center/cover;
}
.main-center-left{
    height:100% ;
    width:70% ;
    /* background-color: #fff; */
}
.main-center-left-top{
    height:50% ;
    width:100% ;
    /* background-color: fuchsia; */
    color: white;
    font-weight: bold;
    font-size: 4rem;
}
.main-center-left-bottom{
    height:50% ;
    width:90% ;
    background-color:#4b4242;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main-center-left-bottom-top{
    height:20% ;
    width:100% ;
    background-color: #6c666f;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    
}
.main-center-left-bottom-top button{
    height: 100%;
    width: 50%;
    color: white;
    background-color: #6c666f;
    border: none;
    border-radius: 15px;
}
.main-center-left-bottom-top button:hover{
    cursor: pointer;
}
.main-center-left-bottom-top button:focus{
    border: 2px white solid;
}
.main-center-left-bottom-center{
    height:25% ;
    width:100% ;
    /* background-color: aqua; */
    position: relative;
}
.main-center-left-bottom-center input{
    height:100% ;
    width:100% ;
    background-color: #fff;
    padding-left: 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 20px;
    
}
.main-center-left-bottom-center .search-button{
    height:100% ;
    width:23% ;
    /* background-color: green; */
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}
.material-icons-outlined{
    color: #d2ff00;
    margin-right: 5px;
}
.main-center-left-bottom-center button{
    height: 80%;
    width: 95%;
    margin: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    border: none;
    background-color: black;
   
}
.main-center-left-bottom-center button:hover{
    cursor: pointer;
}
.main-center-left-bottom-bottom{
    height:35% ;
    width:100% ;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.main-center-left-bottom-bottom img{
    height: 62%;
    width: 23%;
    /* background-color: rebeccapurple; */
}


/* PAGE2 */

.page2{
    height:88vh ;
    width:100% ;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.page2-center{
    height:90% ;
    width:90% ;
    /* background-color: pink; */
}
.page2-top{
    height:18% ;
    width:100% ;
    /* background-color: yellow; */
    font-weight: bold;
    font-size: 2.6rem;
    display: flex;
    justify-content: start;
    align-items: start;
}
.page2-bottom{
    height:82% ;
    width:100% ;
    /* background-color: gray; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.page2-bottom-box{
    height:40% ;
    width:18% ;
    /* background-color: #fff; */
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 0px 13px 2px #e9e9e9;
-webkit-box-shadow: 0px 0px 13px 2px #e9e9e9;
-moz-box-shadow: 0px 0px 13px 2px #e9e9e9;
    /* border: 30px; */
}
.page2-bottom-box:hover{
    border: 2px solid black;
    cursor: pointer;
}
.page2-bottom-box-top{
    height:50% ;
    width:100% ;
    /* background-color: yellow; */
    display: flex;
    justify-content: start;
    align-items: center;
    /* border-left: 10px; */
}
.page2-bottom-box-top img{
    height: 50%;
    width: 25%;
}
.page2-bottom-box-bottom{
    height:50% ;
    width:100% ;
    /* background-color: red; */
    /* font-weight: bold; */
    font-size: 1.2rem;
}

/* PAGE3 */
.page3{
    height:88vh ;
    width:100% ;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.page3-center{
    height: 90%;
    width: 90%;
    /* background-color: yellow; */
}
.page3-top{
    height: 20%;
    width: 100%;
    /* background-color: forestgreen; */
    display: flex;
    flex-direction: row;
}
.page3-top-left{
    height: 100%;
    width: 50%;
    /* background-color: darkblue; */
    font-size: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
}

.page3-top-right{
    height: 100%;
    width: 50%;
    /* background-color: indianred; */
    display: flex;
    justify-content: end;
    align-items: center;
}
.page3-top-right-center{
    height:45% ;
    width:60% ;
    /* background-color:green; */
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 1px solid black;
}
.page3-top-right-center button{
    height: 100%;
    width: 50%;
    background-color: transparent;
    border-radius: 20px;
    /* border: 2px solid black; */
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
.page3-top-right-center button:focus{
    border: 2px solid black;
}

.page3-bottom{
    height: 80%;
    width: 100%;
    /* background-color: saddlebrown; */
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.page3-bottom-box{
    height: 95%;
    width: 31%;
    /* background-color: white; */
}
.page3-bottom-box-top{
    height:75% ;
    width:100% ;
    /* background-color: red; */
}
.page3-bottom-box-top img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
/* .page3-bottom-box-top video{
    height: 100%;
    width: 100%;
} */
.page3-bottom-box-bottom{
    height: 25%;
    width: 100%;
    /* background-color: greenyellow; */
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: start;
    align-items: center;
}


/* PAGE4 */

.page4{
    height: 88vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.page4-center{
    height: 90%;
    width: 90%;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}
.page4-center-left{
    height: 100%;
    width: 50%;
    /* background-color: #1a1a1a; */
    background: url(../images/page4/image1) no-repeat center center/cover;
    padding: 50px;
}
.page4-center-left-top{
    height:40% ;
    width:100% ;
    /* background-color:red; */
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    color: white;
}
.page4-center-left-center{
    height:15% ;
    width:100% ;
    /* background-color:saddlebrown; */
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
}
.page4-center-left-bottom{
    height:45% ;
    width:100% ;
    /* background-color:khaki; */
    position: relative;
}
.page4-search{
    height:60% ;
    width:100% ;
    /* background-color: red; */
    position: absolute;
    top:15% ;
    left:0 ;
    position: relative;   
}
.page4-search input{
    height: 100%;
    width: 100%;
    padding: 10px;
    padding-bottom: 60px;
    border-radius: 20px;
}
.page4-search button{
    height: 38%;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    position: absolute;
    bottom: 10%;
    right: 1.6%;
    
}
.page4-search button img{
    height: 100%;
    width: 33%;
}
/* .page4-center-left-bottom input{
    height:60% ;
    width:100% ;
    background-color: #fff;
    padding: 12px;
    padding-bottom: 60px;
} */
.page4-center-right{
    height: 100%;
    width: 50%;
    /* background-color: green; */
}
.page4-center-right img{
    height: 100%;
    width: 100%;
    border-radius: 0 20px 20px 0;
}


/* PAGE5 */

.page5{
    height: 120vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.page5-center{
    width: 90%;
    height: 90%;
    /* background-color: teal; */
}
.page5-center-top{
    height:17% ;
    width:100% ;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.page5-center-top p{
    font-size: 2.3rem;
    font-weight: bold;
}
.page5-center-center{
    height:68% ;
    width:100% ;
    /* background-color:green; */
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.page5-center-box{
    height:95% ;
    width:30% ;
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #e9e9e9;
}
.page5-center-box:hover{
    border: 1px solid greenyellow;
    box-shadow: 0px 0px 9px 2px rgba(179,151,151,0.75);
-webkit-box-shadow: 0px 0px 9px 2px rgba(179,151,151,0.75);
-moz-box-shadow: 0px 0px 9px 2px rgba(179,151,151,0.75);

}
.page5-center-box:hover button{
    background-color:#108a00;
    color: white;
    font-weight: bold;
}
.page5-center-box-top{
    height:43% ;
    width:100% ;
    /* background-color: red; */
    

}
.top-top{
    height:50% ;
    width:100% ;
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.top-bottom{
    height:50% ;
    width:100% ;
    /* background-color: hotpink; */
    position: relative;
    
    /* display: flex;
    justify-content: start;
    align-items: center; */
}
.top-bottom p{
    position: absolute;
    top: 10%;
    left: 0;
}
.top-top p{
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0.6;
}
.page5-center-box-top h1{
    font-size: 1.5rem;
}
.top-bottom p{
    font-size: 1.1rem;
}

.page5-center-box-center{
    height:37% ;
    width:100% ;
    /* background-color: gold; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page5-center-box-center-box2{
    height:33% ;
    width:100% ;
    /* background-color: gray; */
    display: flex;
    flex-direction: row;
}
.page5-center-box-center-box2-left{
    height:100% ;
    width:12% ;
    /* background-color:pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.page5-center-box-center-box2-right{
    height:100% ;
    width:88% ;
    /* background-color: blue; */
    display: flex;
    justify-content: start;
    align-items: center;
}
.page5-center-box-bottom{
    height:20% ;
    width:100% ;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: end;
}
.page5-center-box-bottom button{
    height: 55%;
    width: 100%;
    background-color: white;
    border: 2px solid #108a00;
    font-size: 1rem;
    color: #108a00;
    /* font-weight: bold; */
    border-radius: 10px;
}
.page5-center-bottom{
    height:15% ;
    width:100% ;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #108a00;
    font-size: 1.1rem;
}
.page5-center-bottom p:hover{
    text-decoration: underline;
    cursor: pointer;
}


/* PAGE6 */
.page6{
    height: 176vh;
    width: 100%;
    /* background-color: red; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 0 13vh;
    background: url(../images/page6/image1) no-repeat center center/cover;
   
}

.page6-center-top{
    height:10% ;
    width:100% ;
    /* background-color: gray; */
    font-weight: bold;
    font-size: 2.3rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.page6-center-bottom{
    height: 90%;
    width: 100%;
    /* background-color: green; */
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.page6-center-bottom-box{
    height: 47%;
    width:  31.5%;
    /* background-color: darkgoldenrod; */
    padding: 30px 30px;
    border-radius: 15px;
    border: 1px solid #e9e9e9;
    background-color: white;
    box-shadow: 0px 0px 3px 2px rgba(179,151,151,0.75);
-webkit-box-shadow: 0px 0px 3px 2px rgba(179,151,151,0.75);
-moz-box-shadow: 0px 0px 3px 2px rgba(179,151,151,0.75);
}
.page6-center-bottom-box-top{
    height:13% ;
    width:100% ;
    /* background-color: #fff; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 0.9rem;
    gap: 5px;
}
.page6-center-bottom-box-top img{
    height: 15px;
    width: 20px;
}

.page6-center-bottom-box-center{
    height:40% ;
    width:100% ;
    /* background-color: pink; */
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* .page6-center-bottom-box-center p{
    font-weight: bold;
} */
.page6-center-bottom-box-bottom{
    height:47% ;
    width:100% ;
    /* background-color: #3118d6; */
    display: flex;
    flex-direction: row;
}
.page6-center-bottom-box-bottom-left{
    height: 100%;
    width: 60%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 5px;
    font-size: 0.8rem;
}
.page6-center-bottom-box-bottom-left-text2{
    opacity: 0.7;
}
.page6-center-bottom-box-bottom-right{
    height: 100%;
    width: 40%;
    /* background-color:seagreen; */
    display: flex;
    justify-content: end;
    align-items: end;
}
.page6-center-bottom-box-bottom-right img{
    height: 38%;
    width: 62%;
    border-radius: 50%;
}

/* PAGE7 */

.page7{
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: end;
}
.page7-center{
    height:75% ;
    width:88% ;
    background-color: #2ed02e;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.page7-center p{
    font-weight: bold;
    font-size: 2.2rem;
    color: white;
}
.page7-center button{
    height: 19%;
    width: 18%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}
.page7-center button:hover{
    background-color: rgb(231, 228, 228);
}

/* FOOTER */
footer{
    height:120vh ;
    width:100% ;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: end;
}
.footer-center{
    height:85% ;
    width:95% ;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-center-center{
    height:90% ;
    width:86% ;
    /* background-color: #fff; */
    
}
.footer-center-top{
    height:70% ;
    width:100% ;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-center-top-box{
    height:100% ;
    width:23% ;
    /* background-color:pink; */
}
.footer-center-top-box-top{
    height:20% ;
    width:100% ;
    /* background-color: red; */
    /* display: flex;
    justify-content: start;
    align-items: center; */
    position: relative;
    color: #a5a5a5;
    /* font-weight: bold; */
}
.footer-center-top-box-top p{
    position: absolute;
    top: 50%;
    left: 0;
}
.footer-center-top-box-bottom{
    height:80% ;
    width:100% ;
    /* background-color:darkgoldenrod; */
    /* font-weight: bold; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}
.footer-center-top-box-bottom p:hover{
    cursor: pointer;
    text-decoration: underline;
}
.footer-center-center2{
    height:15% ;
    width:100% ;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #333333;
}
.footer-center-center2-left{
    height:100% ;
    width:33% ;
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.footer-center-center2-left-p{
    white-space: nowrap;
    color: #a2a2a2;
}
.footer-center-center2-left-icons{
    display: flex;
    flex-direction: row;
   
    gap: 25px;
}
.footer-center-center2-left-icons img{
    height:10% ;
    width:10% ;
    border-radius: 50%;
    cursor: pointer;
    
}
.footer-center-center2-left-icons img:nth-child(5){
    height: 17%;
    width: 15%;
}
.footer-center-center2-right{
    height:100% ;
    width:50% ;
    /* background-color:blueviolet ; */
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 20px;
    color: #a2a2a2;
}
.footer-center-center2-right img{
    height:25% ;
    width:6% ;
}
.footer-center-bottom{
    height:15% ;
    width:100% ;
    /* background-color: gray; */
    display: flex;
    flex-direction: row;
}
.footer-center-bottom-left{
    height: 100%;
    width: 23%;
    /* background-color: pink; */
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.9rem;
    color: #a2a2a2;
}
.footer-center-bottom-right{
    height: 100%;
    width: 77%;
    /* background-color: teal; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
    color: white;
}
.footer-center-bottom-right p:hover{
    text-decoration: underline;
    cursor: pointer;
}